# Format a string of names like 'Bart, Lisa & Maggie'.

In [ ]:
'''
Given: an array containing hashes of names
Return: a string formatted as a list of names separated by commas except for the last two names, 
which should be separated by an ampersand.
Example:
namelist([ {'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'} ])
# returns 'Bart, Lisa & Maggie'
namelist([ {'name': 'Bart'}, {'name': 'Lisa'} ])
# returns 'Bart & Lisa'
namelist([ {'name': 'Bart'} ])
# returns 'Bart'
namelist([])
# returns ''
Note: all the hashes are pre-validated and will only contain A-Z, a-z, '-' and '.'.
'''

In [21]:
names = [ {'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'} ]
n = []
for i in range(len(names)):
    n.append(names[i]['name'])
n = ', '.join(n[:-1]) + ' & ' + n[-1]
print(n)

Bart, Lisa & Maggie

In [28]:
def namelist(names):
    n = []
    for i in range(len(names)):
        n.append(names[i]['name'])
    if len(n) == 1:
        n = ''.join(n)
    elif len(n) == 2:
        n = ' & '.join(n)
    elif len(n) > 2:
        n = ', '.join(n[:-1]) + ' & ' + n[-1]
    else:
        n = ''
    return n
        
namelist([{'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'}])

'Bart, Lisa & Maggie'

In [30]:
def namelist(names):
    if len(names) > 1:
        return '{} & {}'.format(', '.join(name['name'] for name in names[:-1]), 
                                names[-1]['name'])
    elif names:
        return names[0]['name']
    else:
        return ''

namelist([{'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'}])

'Bart, Lisa & Maggie'

In [29]:
def namelist(names):
    l = len(names)
    abc = [names[x]['name'] for x in range(0, l)]
    dic = {
        0: '',
        1: '{}',
        2: '{} & {}',
        3: '{}, {} & {}',
        4: '{}, ' * (l - 2) + '{} & {}'
    }
    return dic[min(4, l)].format(*abc[:1000])

namelist([{'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'}])

'Bart, Lisa & Maggie'

In [31]:
def namelist(names):
    return ", ".join([name["name"] for name in names])[::-1].replace(",", "& ",1)[::-1]

namelist([{'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'}])

'Bart, Lisa & Maggie'

# Build Tower

In [ ]:
'''
Build Tower by the following given argument:
number of floors (integer and always greater than 0).
Tower block is represented as *
Python: return a list;

for example, a tower of 3 floors looks like below
[
  '  *  ', 
  ' *** ', 
  '*****'
]
test.assert_equals(tower_builder(1), ['*'])
test.assert_equals(tower_builder(2), [' * ', '***'])
test.assert_equals(tower_builder(3), ['  *  ', ' *** ', '*****'])
]
'''

In [36]:
a = 5
n = []
b = 1
for i in range(a):
    m = ' '*(a-1) + '*'* b + ' '*(a-1)
    b += 2
    a -= 1
    n.append(m)
n

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [42]:
def tower_builder(n_floors):
    n,b = [],1
    for i in range(n_floors):
        m = ' '*(n_floors-1) + '*'* b + ' '*(n_floors-1)
        b += 2
        n_floors -= 1
        n.append(m)
    return n

tower_builder(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [45]:
def tower_builder(n):
    return [("*" * (i*2-1)).center(n*2-1) for i in range(1, n+1)]

tower_builder(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']